.viewVehicle_con{
    width: 80%;
    margin: 30px auto;
    /* background-color: #f8f8f837; */
    padding: 10px 20px;
    /* box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.679);
    */
    border-radius: 6px;
    /* border: 1px solid rgba(128, 128, 128, 0.227); */
}

.viewVehicle_con h4{
    color: rgb(44, 44, 44);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.viewVehicle_con h3{
    text-transform: uppercase;
    /* color: #0061ff; */
    font-size: 25px;
    margin-bottom: 5px;
    /* text-transform: capitalize; */
}
.viewVehicle_con p{
    color: rgb(25, 25, 25);
    /* font-size: 15px; */
}

.viewVehicle_con p span{
    color: #0061ff;
    font-weight: 700;
}

.viewVehicle_con_inn{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.viewVehicle_info{
    width: 50%;
    position: relative;
}

.viewVehicle_img{
    width: 100%;
}
.viewVehicle_img img{
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.viewVehicle_payment{
    width: 50%;
}


.viewVehicle_info_2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    /* position: absolute;
    bottom: 15px;
    left: 10px; */
}

.viewVehicle_info_2 p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: 500;
    background-color: rgba(225, 225, 225, 0.879);
    padding: 5px 15px;
    border-radius: 6px;
}

.viewVehicle_info svg{
    font-size: 22px;
    color: rgb(0, 0, 0);
}

/* /// Form  */

.vehicleForm{
    width: 100%;
    margin: 10px auto;
}

.viewVehicle_payment p{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    /* color: #0061ff; */
}

.formrow{
    gap: 20px; 
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.formcol{
    width: 100%; 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.formcol input, select{
    height: 40px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid gray;
}

.formrow input[type = submit], .feedpopbtn{
    background-color: #0061ff;
    border: transparent;
    padding: 10px;
    margin: 20px 0;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}
.formrow button:hover{
    background-color: #0062ffdc;
    /* color: rgb(200, 200, 200); */
}

/* //feedback */
.feedback{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #0061ff; */
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 5px black;
    width: 500px;
    /* height: 300px; */
    z-index: 9;
    padding: 20px;
    /* display: none; */
}

.feedback div{
    width: 100%;
}
.feedback div input{
    width: 100%;
    height: 35px;
    border: 1px solid rgb(182, 182, 182);
    padding: 10px;
    margin-bottom: 10px;
}

.feedback div textarea{
    width: 100%;
    height: 100px;
    border: 1px solid rgb(182, 182, 182);
    padding: 10px;
}
.feedback div textarea:focus{
    outline: transparent;
}

.feedback button{
    background-color: #0061ff;
    float: right;
    border: transparent;
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 10px;
}

/* //feedbox */

.feedbox{
    /* width: 100%; */
    background-color: #E4EFE7;
    padding: 15px;
    border-radius: 12px;
}
.feedboxInn{
    overflow-y: scroll;
    max-height: 250px;
    margin: 10px 0;
}

.feedbox h1{
    text-transform: uppercase;
    font-size: 20px;
}

.feedbackContent{
    margin-bottom: 15px;
    border-bottom: 1px solid gray;
}

.feedbackContent p:nth-child(1){
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.feedbackContent p:nth-child(2){
    font-weight: 400;
    font-size: 13px;
}

.notfeed{
    text-align: center;
    margin: 20px 0;
}
.notfeed svg{
    color: #0061ff;
    font-size: 30px;
}
.notfeed p{
    font-size: 15px;
}


/* /////Payment GAteway */


.form{
    position: fixed;
    background-color: white;
    border: 1px solid rgb(177, 177, 177);
    padding: 15px;
    font-size: 13px;
    width: 500px;
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.form p{
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}

.row{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.row img{
    width: 100%;
    margin: 10px 0;
    object-fit: contain;
    /* height: 80px; */
}

.col{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.form input{
    height: 35px;
    padding: 5px;
    border: 1px solid rgb(167, 167, 167);
    width: 100%;
}
.form input:placeholder-shown{
    font-size: 12px;
    color: rgb(183, 183, 183);
}

.form input[type='submit']{
    background-color: #00b64c;
    border: transparent;
    width: 100%;
    margin-top: 10px;
    color: white;
    font-weight: 500;
    font-size: 13px;
    height: 40px;
    cursor: pointer;
}

.bg{
    background-color: #0061ff;
    width: 100vw;
    height: 100vh;
    z-index: 8;
    position: fixed;
    left: 0;
    top: 0;
}

/* /////////////////// */


@media only screen and (max-width:1300px) {
    .viewVehicle_con{
        width: 90%;
    }

    .viewVehicle_con_inn{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}

@media only screen and (max-width:1100px) {
    .viewVehicle_con{
        width: 95%;
    }

    .viewVehicle_img img{
        width: 100%;
        height: 300px;
        /* object-fit: cover; */
    }

    .viewVehicle_info_2 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        /* position: absolute; */
        bottom: 30px;
        left: 10px;
    }
    
    .viewVehicle_info_2 p{
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 10px;
        font-weight: 500;
        background-color: rgba(255, 255, 255, 0.879);
        padding: 10px;
        border-radius: 6px;
    }

    .viewVehicle_info svg{
        font-size: 15px;
        color: rgb(0, 0, 0);
    }
}
@media only screen and (max-width:900px){
    .viewVehicle_con_inn{
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
        gap: 20px;
    }
    
    .viewVehicle_info{
        width: 100%;
        position: relative;
    }
    
    .viewVehicle_payment{
        width: 100%;
    }

    .viewVehicle_img img{
        width: 100%;
        height: 400px;
        /* object-fit: cover; */
    }

    .viewVehicle_con{
        background-color: transparent;
        /* margin: 10px auto; */
        border: none;
    }
}
@media only screen and (max-width:550px){
    .viewVehicle_img img{
        width: 100%;
        height: 250px;
        /* object-fit: cover; */
    }

    .viewVehicle_con{
        padding: 10px 0;
        box-shadow: none;
        background-color: transparent;
        margin: 10px auto;
        border: none;
    }

    .feedback{
        width: 95%;
    }
    
    .form{
        width: 95%;
    }
}