.bookingcon{
    width: 70%;
    margin: 50px auto;
}

.bookingfilter{
    /* background-color: #f8f8f8; */
    display: flex;
    justify-content: space-between;
    gap: 30px;
    /* padding: 15px; */
    border-radius: 6px;
    /* margin-top: 10px; */
}

.bookingfilter .filtercol1{
    /* width: 90%; */
    /* height: 35px; */
    /* margin: 10PX auto; */
    display: flex;
    gap: 10px;
    /* align-items: center; */
    /* position: relative; */
}

.bookingfilter .filtercol1 div{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.bookingcon select, .bookingcon input{
    width: 100%;
    height: 35px;
    border-radius: 6PX;
    border: transparent;
    padding: 5PX;
    color: rgb(65, 65, 65);
    border: 1px solid rgba(65, 65, 65, 0.288);
    cursor: pointer;
}

.bookingcon select:focus, .bookingcon input:focus{
    outline: transparent;
}

.booking_con_inner{
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.searchinp div{
    display: flex;
    gap: 5px;
}

.searchinp button{
    background-color: #007dfe;
    color: white;
    border: transparent;
    border-radius: 3px;
    height: 35px;
    /* width: 50px; */
    cursor: pointer;
    padding: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* ///////////////// */
.VehicleCard{
    background-color: white;
    width: 100%;
    margin: auto;
    /* padding: 15px; */
    /* gap: 5px; */
    border-radius: 6px;
    box-shadow: 1px 1px 5px rgba(126, 126, 126, 0.699);
    position: relative;
}
.info_row1{
    display: flex;
    justify-content: space-between;align-items: center;
    padding: 5px 15px;
}
/* style={{display:'flex', justifyContent: 'space-between', padding: "0px 30px 0px 0px", alignItems: 'center'}} */
.info_row1 p{
    font-size: 13px;
    line-height: 15px;
}
.info_row1 div:first-child p:first-child{
font-size: 18px;
font-weight: 500;
line-height: 22px;
}

.VehicleCard .Vehicleimg img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.Vehicleprice p{
    font-size: 12px;
    color: rgb(63, 63, 63);
}

.Vehicleprice{
    text-align: center;
    line-height: 25px;
}

.Vehicleprice span{
    font-size: 18px;
    font-weight: 700;
}

.btn{
    /* margin-top: 10px; */
    width: 100%;
    /* text-align: center; */
}
.btn a:hover{
    background-color: rgb(66, 66, 66);
}

.btn a{
    background-color: rgb(102, 102, 102);
    /* background-color: #ff3131; */
    color: white;
    /* color: rgb(25, 25, 25); */
    text-decoration: none;
    padding: 10px 0px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    font-size: 15px;
    margin: 10px auto;
    font-weight: 500;
    transition: .3s;
}

@media only screen and (max-width:1300px) {
    
    .bookingcon{
        width: 95%;
    }

    .booking_con_inner{
        width: 100%;
    }
}

@media only screen and (max-width:1000px) {
    
    .booking_con_inner{
        /* width: 95%; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (max-width:600px) {
    .VehicleCard .Vehicleimg img{
        width: 100%;
        height: 200px;
        border-radius: 6px;
    }
    
}

@media only screen and (max-width:600px) {
    .booking_con_inner{
        /* width: 95%; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .bookingcon{
        margin: 30px auto;
    }

}

@media only screen and (max-width:400px) {
    .bookingfilter{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .bookingfilter div{
        width: 100%;
    }

    .bookingcon{
        margin: 20px auto;
    }
}