.profilecon{
    width: 50%;
    margin: auto;
}

.profilecol{
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    line-height: 50px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px rgba(173, 173, 173, 0.664);
}

.profilecol p{
    display: grid;
    grid-template-columns: 40% 60%;
}

.profilebuttons{
    text-align: right;
}
.profilebuttons button{
    background-color: #0061ff;
    color: white;
    border: transparent;
    padding: 10px 30px;
    border-radius: 3px;
}

.EditUSer{
    /* background-color: #0061ff; */
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 6px;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    z-index: 9;
}

.editoverlay{
    background-color: #0000009f;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.EditUSer p{
    font-weight: 600;
}

.row{
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.col{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.row input{
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
}

input[type=submit]{
    background-color: #0061ff;
    margin-top: 15px;
    padding: 10px;
    color: white;
    font-weight: 500;
    width: 100%;
}
input[type=button]{
    background-color: #000;
    margin-top: 15px;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    width: 100%;
}

@media only screen and (max-width:900px) {
    .profilecon{
        width: 90%;
        margin: auto;
    }
}

@media only screen and (max-width:550px) {
    .EditUSer{
        width: 95%;
    }

    .row{
        gap: 5px;
    }
}