.VehicleCard{
    background-color: white;
    width: 100%;
    margin: auto;
    border-radius: 6px;
    box-shadow: 1px 1px 5px rgba(126, 126, 126, 0.699);
    position: relative;
    transition: .3s;
}
.VehicleCard:hover{
    transform: translateY(-10px);
}
.info_row1{
    display: flex;
    justify-content: space-between;align-items: center;
    padding: 5px 15px;
}
/* style={{display:'flex', justifyContent: 'space-between', padding: "0px 30px 0px 0px", alignItems: 'center'}} */
.info_row1 p{
    font-size: 13px;
    line-height: 15px;
}
.info_row1 div:first-child p:first-child{
font-size: 18px;
font-weight: 500;
line-height: 22px;
}

.VehicleCard .Vehicleimg img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* object-fit: contain; */
    border-radius: 6px 6px 0 0;
}


.Vehicleprice p{
    font-size: 12px;
    color: rgb(63, 63, 63);
}

.Vehicleprice{
    text-align: center;
    line-height: 25px;
}

.vehicleprice span{
    font-size: 16px;
    font-weight: 600;
}

.btn{
    /* margin-top: 10px; */
    width: 100%;
    /* text-align: center; */
}
.btn a:hover{
    background-color: #0080ffc0;
    color: black;
}

.btn a{
    background-color: #0061ff;
    /* background-color: #ff3131; */
    /* color: rgb(25, 25, 25); */
    color: white;
    text-decoration: none;
    padding: 10px 0px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    font-size: 15px;
    margin: 10px auto;
    font-weight: 500;
    transition: .3s;
}


@media only screen and (max-width:600px) {
    .VehicleCard .Vehicleimg img{
        width: 100%;
        height: 200px;
        /* object-fit: contain; */
        border-radius: 6px;
    }
    
}