.featurescon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    gap: 50px;
    margin:50px auto 150px auto;
}

.featurescon svg, .featurescon2 svg{
    font-size: 40px;
    color: rgb(32, 32, 32);
}

.featurescon .col{
    display: flex;
    gap: 20px;
    align-items: center;
}

.featurescon .col p:first-child, .featurescon2 p:nth-child(2){
    font-weight: 600;
}

.featurescon .col p:nth-child(2), .featurescon2 p:nth-child(3){
    color: rgb(49, 49, 49);
    font-size: 16px;
    font-weight: 300;
}

/* featurescon2 CSS */

.featurescon2 h2{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    /* margin-top: 70px; */
    color: #1f1f1f;
}

.featurescon2{
    width: 90%;
    margin: 50px auto;
}

.featurescon2 .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 30px 0;
}

.featurescon2 .row .col{
    background-color: rgba(216, 216, 216, 0.301);
    text-align: center;
    padding: 30px;
    border: 1px solid transparent;
    transition: .5s;
    /* border-radius: 12px; */
    /* box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.26); */
}

.featurescon2 .row .col:hover{
    border: 1px solid rgba(128, 128, 128, 0.479);
    /* transition: .3s; */
}

.featurescon2 .row .col svg{
    font-size: 40px;
}