.detailsconinner{
    width: 80%;
    margin: auto;
}

.detailscon{
    /* background: linear-gradient(135deg, #fff 10%, #000000 100%); */
    padding: 50px 0;
}
.row1{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    margin-bottom: 20px;
}

.row1 div{
    width: 100%;
}

.row1 h1{
    font-size: 40px;
}

/* Row 2 Start here  */

.row2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.row2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.row2inner{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.row2inner_1{
    height: 350px;
}

.row2inner_2{
    display: flex;
    gap: 10px;
}

.row2inner img{
    object-fit: cover;
    transition: .5s;
}

.row2inner img:hover{
    transform: scale(101%);
}


/* //Card latest */
.latestCon{
    padding: 80px 0;
    background:linear-gradient(to top,#fff 20% ,#4372d1);
    /* background-color: #fff; */
    
}

.latestCon h1{
    text-transform: uppercase;
}

.latestConInn{
    width: 70%;
    margin: auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


/* /// Media Query */

@media only screen and (max-width:1300px) {
    .latestConInn{
        width: 90%;
    }
}

@media only screen and (max-width:1200px) {
    .detailsconinner{
        width: 95%;
        margin: auto;
    }
    
    .row2inner_1{
        height: 250px;
    }
}
@media only screen and (max-width:1000px) {
    .latestConInn{
        width: 90%;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:800px) {
    .row1{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .row2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }
    
    .row2inner_1{
        height: 300px;
    }
}
@media only screen and (max-width:800px) {
    .latestConInn{
        width: 80%;
    }

    .grid{
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (max-width:450px) {
    .latestConInn{
        width: 90%;
    }
}